/* CSS Document */


body{
margin:0 auto;
width:1200px;
height:800px;
border:1px solid blue;
}
.white,.white a:link,.white a:hover,.white a:visited{ color:#fff;}

ul,
ol {
  list-style: none;
}
 a:link, a:hover, .white a:visited {
    //color: #fff;

}
a{text-decoration:none}
#tou{
width:1200px;
height:100px;
border:1px solid blue;
}


.logo{
width:300px;
height:60px;
border:1px solid blue;
float:left;
text-align:center;
margin-top:30px;}

.denglu{
width:100px;
height:34px;

border:1px solid blue;
float:right;
margin-right:150px;
margin-top:30px;

}
.denglu a{
text-decoration:none;
line-height:34px;
margin-left:15px;
border:#000000;}

#neirong{
width:1200px;
height:100%;
border:1px solid blue;
}
.xinxi{
width:1200px;
height:60px;
border:1px solid blue;
background: #46aeff;
    line-height: 60px;
    font-size: 16px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    text-align: center;}
.xinxi a{
color: #fff;
    background: #46aeff;
}
.bankuana{
margin-top:20px;
width:1200px;
height:240px;
border:1px solid blue;}

.bankuanb{
margin-top:30px;
width:1200px;
height:240px;
border:1px solid blue;}


#footer{
width:1200px;
height:100px;
border:1px solid blue;
}