
body{margin:0 auto; width:960px; text-align:center;}
.tou{width:960px; height:200px; border:1px solid black; float:left;}
.shen{width:960px; height:450px; border:1px solid green; float:left;}
.footer{width:960px; height:200px; border:1px solid red; float:left;}


