@charset "utf-8";/*
 * Description:Exclusive
 * Author:UED
 * Version:2.0.0
 * Website:http://www.gw.com.cn/
*/
/* CSS Reset - Description :Base KISSY CSS Reset,add HTML5 elements ----------- */

body{
    margin:0;
    padding: 0;
}

#text_main{width:1200px;height: 670px;  border: 0px solid #aaa; }
table{border-collapse: collapse; }
.diyi th{height: 28px;    background-color: #3F3F3F;
    border: 1px solid #3F3F3F; color: #fff;   }

.dier td{border-collapse: collapse;  width: 32px; height: 18px;  border: 1px solid #aaa;     text-align: center;}
.linian{ color: red;}